source https://nuget.org/api/v2
framework: net45

nuget FAKE
nuget FSharp.Management
nuget Mono.Cecil
nuget Nuget.CommandLine

group Test
    source https://nuget.org/api/v2
    framework: net45

    nuget IKVM
    nuget Expecto
    nuget FSharp.Core redirects:force

group Docs
    source https://nuget.org/api/v2
    framework: net45

    nuget Suave
    nuget DotLiquid
    nuget FSharp.Formatting 2.14.2