source https://nuget.org/api/v2
framework: net461

nuget FSharp.Core
nuget IKVM
nuget Expecto
nuget Microsoft.NETFramework.ReferenceAssemblies

group Docs
    source https://nuget.org/api/v2
    framework: net461

    nuget Suave
    nuget DotLiquid
    nuget FSharp.Formatting 2.14.2